<header>
  <div class="navigation">
    <section class="navbar-section">
      <figure class="avatar" style="background-color: #a09fcf;">
        <img src="img/avatar1.png" alt="me" />
      </figure>
    </section>
    <section id="logo" class="navbar-center">
      <p class="navbar-brand mr-2">Lucas Rodriguez Barozzi</p>
    </section>
    <section id="navbox" class="navbar-section">
      <a href="#" class="nav-item">About</a>
      <a href="projects.html" class="nav-item">Projects</a>
      <a href="contact.html" class="nav-item">Contact</a>
    </section>
  </div>
</header>
